body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

table {
    width: 100%;
}

th {
    height: 50px;
    padding: 15px;
}

td {
    border-bottom: 1px solid #ddd;
    padding: 15px;
    text-align: center;
}