<h1>Add a Video</h1>
<a href="#/">Home</a>
<form>
    <div class="form-group">
        <label>Title</label>		
        <input class="form-control" ng-model="video.title"></input>
    </div>
    <div class="form-group">
        <label>Description</label>
        <textarea class="form-control" ng-model="video.description"></textarea>
    </div>
    <input type="button" class="btn btn-primary" value="Save" ng-click="save()"></input>
    <div class="form-group" style="visibility: hidden">
    	<label>Picture</label>
    	<input class="form-control" ng-model="video.picture" value={{video.title}}></input>
    </div>
</form>